@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    /* COLORS */
    --body-color: #e4e9f7;
    --sidebar-color: #fff;
    --primary-color:#695cfe ;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color:#707070 ;

    /* TRANSITION */
    --tran-02: all 0.2s ease;
    --tran-03:all 0.3s ease ;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.4s ease;
    
}

body{
    font-family:'Poppins';
    margin: 0;
    background-color: var(--body-color);
    transition: var(--tran-04);
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color:#3a3b3c ;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color:#ccc ;
}

.container{
    width: 900px;
    max-width: 90vh;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: transform 0.5s;
}

/*HEADER*/

i{
    width: 30px;
    font-size: 30px;
    color: var(--text-color);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    width: 30px;
    height: 30px;
    display: flex;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 25px;
}

/* LISTPRODUCTS */

.listProduct .item img{
    width: 100px;
    height: 90px;
    filter: drop-shadow(0 30px 20px #0009);
}

.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}

.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}


.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}

.listProduct .item button{
    background-color: #353432;
    color: #eee;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

/* CARTTAB */

.cartTab{
    border: 1px solid black;
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    /* top right bottom left */
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition:  0.5s;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
}

body.showCart .container{
    transform: translateX(-130px);
}

.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button{
    background-color: #e8bc0e;
    border: none;
    font-family: 'Poppins';
    font-weight: 500;
    cursor: pointer;
}

.cartTab .btn .close{
    background-color: #eee;
}

.cartTab .listCart .item img{
    width: 90px;
    height: 80px;
}

.cartTab .listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart{
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}

/* NAVIGATION */

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;

}

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transform: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.container header .title{
    color:var(--text-color);
}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
}

.sidebar.appear{
    width:  88px;
}

.sidebar.appear .text{
    opacity: 0;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border: 6px;
    border-radius: 50%;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--text-color);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.appear header .toggle{
    transform: translateY(-50%);
}




.sidebar li a{
    width: 100%;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--text-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
   
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Add this line to enable vertical scrolling */
}

.menu-bar .mode{
    background-color: var(--primary-color-light);
    position: relative;
    border-radius:7px ;
    margin-bottom: 10px;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    background-color: var(--primary-color-light);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius:25px ;
    background-color: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    cursor: pointer;
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 23px;
}




