*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../image/bg.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px) brightness(90%);
}

.wrapper{
    width: 420px;
    background: transparent;
    color: white;
    border-radius: 12px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(4px) brightness(80%);
    box-shadow: 0 0 5px rgba(255, 255, 255, .2);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(247, 238, 238, 0.7);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;

}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    text-align: center;
    margin: 20px 0 20px ;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .continue{
    text-align: center;
    margin-bottom: 20px;
    opacity: .8;
}

.continue a{
    color: #fff;
    text-decoration: none;
}

.continue a:hover{
    text-decoration: underline;
}



.btn{
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    border-radius: 40px;
}

.register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}


.modal {
    width: 460px;
    height: 150px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9); /* Use a semi-transparent white background */
    border-radius: 10px;
    padding: 20px;
    outline: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    z-index: 1; /* Ensure the modal appears on top of other elements */
    backdrop-filter: blur(4px) brightness(80%);
    text-align: center;
}

.modal .h1-text {
    text-align: center;
    margin-top: 10px;
}

.modal .btn {
    width: 150px;
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Ensure block-level display for margin auto to work */
    background-color: rgb(242, 161, 12);
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: 300;
    margin-top: 13px;
}

