#donutQuantityFilter,
#bar-tQuantity,
#barQuantityFilter {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#donutChartContainer,
#salesChart {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

[name="donut-tQuantity"] {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#donutChartContainer {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.page-header{
    text-align: center;
    display: flex;
    justify-content: center;
}

#donutChartContainer {
    max-width: 80%; /* Adjust the maximum width of the container */
    margin: 0 auto;
}

#donutChartContainer canvas {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
}

.card{
    border: none;
    background: none;
}
.card-body{
    display: flex;
    height: 600px;
    gap: 20px;
}

.donut{
    width: 40%;
   
    padding: 20px 15px;
    background-color: beige;
    border-radius: 5px;
}

.bar{
    
    width:60% ;
    padding: 20px 15px;
    background-color: beige;
    border-radius: 5px;
}

.donut-tQuantity{
    height: 100%;
}



